# coding: utf-8

"""
    OfficeGuy API

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: v3
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from office_guy_api.api_client import ApiClient


class CreditCardTerminalVaultApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def credit_guy_vault_tokenize(self, **kwargs):  # noqa: E501
        """Tokenize card (card number-&gt;token)  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.credit_guy_vault_tokenize(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreditGuyVaultTokenizeRequest request:
        :param str content_language: Sets the content response language. Defaults to Hebrew (he).
        :return: ResponseCreditGuyVaultTokenizeResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.credit_guy_vault_tokenize_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.credit_guy_vault_tokenize_with_http_info(**kwargs)  # noqa: E501
            return data

    def credit_guy_vault_tokenize_with_http_info(self, **kwargs):  # noqa: E501
        """Tokenize card (card number-&gt;token)  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.credit_guy_vault_tokenize_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreditGuyVaultTokenizeRequest request:
        :param str content_language: Sets the content response language. Defaults to Hebrew (he).
        :return: ResponseCreditGuyVaultTokenizeResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['request', 'content_language']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method credit_guy_vault_tokenize" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}
        if 'content_language' in params:
            header_params['Content-Language'] = params['content_language']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'request' in params:
            body_params = params['request']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['text/plain', 'application/json', 'text/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/creditguy/vault/tokenize/', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ResponseCreditGuyVaultTokenizeResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def credit_guy_vault_tokenize_single_use(self, card_number, expiration_month, expiration_year, **kwargs):  # noqa: E501
        """Tokenize payment details (Card Number, Expiration, CVV, CitizenID) for single usage.  # noqa: E501

        Used primarily by the Payments JavaScript API.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.credit_guy_vault_tokenize_single_use(card_number, expiration_month, expiration_year, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str card_number: Full card number to tokenize (required)
        :param int expiration_month: Card expiration month (1-12). (required)
        :param int expiration_year: Card expiration year (4 digits). (required)
        :param str cvv: Card CVV/CVV2.
        :param str citizen_id: Israel Citizen ID / Passport Number.
        :param int credentials_company_id: Company identifier
        :param str credentials_api_public_key: API public key
        :param str response_language: This property is obsolete. Please refer to the \"Content-Language\" header instead.
        :param str content_language: Sets the content response language. Defaults to Hebrew (he).
        :return: ResponseCreditGuyVaultTokenizeSingleUseResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.credit_guy_vault_tokenize_single_use_with_http_info(card_number, expiration_month, expiration_year, **kwargs)  # noqa: E501
        else:
            (data) = self.credit_guy_vault_tokenize_single_use_with_http_info(card_number, expiration_month, expiration_year, **kwargs)  # noqa: E501
            return data

    def credit_guy_vault_tokenize_single_use_with_http_info(self, card_number, expiration_month, expiration_year, **kwargs):  # noqa: E501
        """Tokenize payment details (Card Number, Expiration, CVV, CitizenID) for single usage.  # noqa: E501

        Used primarily by the Payments JavaScript API.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.credit_guy_vault_tokenize_single_use_with_http_info(card_number, expiration_month, expiration_year, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str card_number: Full card number to tokenize (required)
        :param int expiration_month: Card expiration month (1-12). (required)
        :param int expiration_year: Card expiration year (4 digits). (required)
        :param str cvv: Card CVV/CVV2.
        :param str citizen_id: Israel Citizen ID / Passport Number.
        :param int credentials_company_id: Company identifier
        :param str credentials_api_public_key: API public key
        :param str response_language: This property is obsolete. Please refer to the \"Content-Language\" header instead.
        :param str content_language: Sets the content response language. Defaults to Hebrew (he).
        :return: ResponseCreditGuyVaultTokenizeSingleUseResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['card_number', 'expiration_month', 'expiration_year', 'cvv', 'citizen_id', 'credentials_company_id', 'credentials_api_public_key', 'response_language', 'content_language']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method credit_guy_vault_tokenize_single_use" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'card_number' is set
        if ('card_number' not in params or
                params['card_number'] is None):
            raise ValueError("Missing the required parameter `card_number` when calling `credit_guy_vault_tokenize_single_use`")  # noqa: E501
        # verify the required parameter 'expiration_month' is set
        if ('expiration_month' not in params or
                params['expiration_month'] is None):
            raise ValueError("Missing the required parameter `expiration_month` when calling `credit_guy_vault_tokenize_single_use`")  # noqa: E501
        # verify the required parameter 'expiration_year' is set
        if ('expiration_year' not in params or
                params['expiration_year'] is None):
            raise ValueError("Missing the required parameter `expiration_year` when calling `credit_guy_vault_tokenize_single_use`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}
        if 'content_language' in params:
            header_params['Content-Language'] = params['content_language']  # noqa: E501

        form_params = []
        local_var_files = {}
        if 'card_number' in params:
            form_params.append(('CardNumber', params['card_number']))  # noqa: E501
        if 'expiration_month' in params:
            form_params.append(('ExpirationMonth', params['expiration_month']))  # noqa: E501
        if 'expiration_year' in params:
            form_params.append(('ExpirationYear', params['expiration_year']))  # noqa: E501
        if 'cvv' in params:
            form_params.append(('CVV', params['cvv']))  # noqa: E501
        if 'citizen_id' in params:
            form_params.append(('CitizenID', params['citizen_id']))  # noqa: E501
        if 'credentials_company_id' in params:
            form_params.append(('Credentials.CompanyID', params['credentials_company_id']))  # noqa: E501
        if 'credentials_api_public_key' in params:
            form_params.append(('Credentials.APIPublicKey', params['credentials_api_public_key']))  # noqa: E501
        if 'response_language' in params:
            form_params.append(('ResponseLanguage', params['response_language']))  # noqa: E501

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['text/plain', 'application/json', 'text/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/creditguy/vault/tokenizesingleuse/', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ResponseCreditGuyVaultTokenizeSingleUseResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def credit_guy_vault_tokenize_single_use_json(self, **kwargs):  # noqa: E501
        """Tokenize payment details (Card Number, Expiration, CVV, CitizenID) for single usage.  # noqa: E501

        Used primarily by the Payments JavaScript API.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.credit_guy_vault_tokenize_single_use_json(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreditGuyVaultTokenizeSingleUseRequest request:
        :param str content_language: Sets the content response language. Defaults to Hebrew (he).
        :return: ResponseCreditGuyVaultTokenizeSingleUseResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.credit_guy_vault_tokenize_single_use_json_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.credit_guy_vault_tokenize_single_use_json_with_http_info(**kwargs)  # noqa: E501
            return data

    def credit_guy_vault_tokenize_single_use_json_with_http_info(self, **kwargs):  # noqa: E501
        """Tokenize payment details (Card Number, Expiration, CVV, CitizenID) for single usage.  # noqa: E501

        Used primarily by the Payments JavaScript API.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.credit_guy_vault_tokenize_single_use_json_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreditGuyVaultTokenizeSingleUseRequest request:
        :param str content_language: Sets the content response language. Defaults to Hebrew (he).
        :return: ResponseCreditGuyVaultTokenizeSingleUseResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['request', 'content_language']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method credit_guy_vault_tokenize_single_use_json" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}
        if 'content_language' in params:
            header_params['Content-Language'] = params['content_language']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'request' in params:
            body_params = params['request']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['text/plain', 'application/json', 'text/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/api/creditguy/vault/tokenizesingleusejson/', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ResponseCreditGuyVaultTokenizeSingleUseResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
